
.infoContainer{
    display: flex;
    overflow: hidden;
    position: relative;
    background-color: #bbf8f4;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    width: 100%;
}

.informacion{
    display:block;
    margin-right: 20px;
    padding: 20px 20px 80px 20px;
    font-size: large;
}
.imagenFondo{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.1;
}

@supports(object-fit: cover){
    .imagenFondo{
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}
.posterContainer{
    padding: 20px 40px 20px 40px;
    z-index: 5;
}
.poster{
    object-fit: contain;
    width: 245px;
    max-height: 367px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
@media (max-width: 600px){
    .infoContainer{
        display: block;
        overflow: hidden;
        position: relative;
        background-color: #bbf8f4;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 20px;
        width: 100%;
    }

    .posterContainer{
        padding: 20px 40px 0px 40px;
        z-index: 5;
    }

    .informacion{

        display:block;
        margin-right: 20px;
        padding: 40px 30px 40px 30px;
    }
}